---
- name: Check memory resource requirement for openpai service
  set_fact:
    unmet_requirements: "{{ unmet_requirements + [\"OpenPAI's worker node should have 16 Gi free memory for service\"] }}"
  when:
    - ansible_memory_mb["nocache"]["free"] < 16000

- name: debug111
  debug:
    var: ansible_memory_mb

- name: debug222
  debug:
    var: memory_mb

- name: Check memory resource meets the memory specified by user
  set_fact:
    unmet_requirements: "{{ unmet_requirements + [\"In layout.yaml, the memory for this host is {{ memory_mb }} MB. But the host only have {{ ansible_memory_mb['real']['total'] }} MB in total. Please decrease the memory specified in layout.yaml \"] }}"
  when:
    - ansible_memory_mb['real']['total'] < memory_mb


